/*  header */

.landing-page .mobile-menu ul li a {
	font-size: .9rem;
	text-transform: uppercase;
}


.landing-page .landing-page-nav .navbar-logo{
	width: 181px;
	height: 27.769px;
}

.landing-page .landing-page-nav .navbar-logo .white{
	width: 181px;
	height: 27.769px;
}
.landing-page .landing-page-nav .navbar-logo .dark{
	width: 181px;
	height: 27.769px;
}
 .landing-page .landing-page-nav .navbar-nav .nav-item > .dropdown > a, .landing-page .landing-page-nav .navbar-nav .nav-item > a {
font-weight: 700;
line-height: normal;
text-transform: uppercase;
} 
.landing-page .landing-page-nav .navbar-nav .nav-item .navbar-menu__link{
	font-size: .75rem;	
}
.landing-page .landing-page-nav .navbar-nav li {
	padding-left: 1rem;
	padding-right: 1rem;
}
.navbar-menu__link{
	font-size: clamp(12px, 1rem, 16px);
}
.navbar-language {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	gap: 0.3rem;
}

/*  header */
.registration {
	column-gap: 150px;
	margin-bottom: 40px;
}

.landing-page .home-text .registration__title {
color: #FFF;
font-size: 40px;
font-weight: 700;
line-height: 110%;
}
.landing-page .home-text .registration__text {
	font-size: 1.125rem;
	margin-bottom: 3.37rem;
	} 

	.form-control{
		border-radius: 50px;
border: 1px solid #4C87AA;
	}
	.has-top-label > span:last-of-type, .has-top-label label{
padding: 8px 0px 32px 8px;
	}

.form-control span{
font-size: 12px;
	}
	.form-group {
		margin-bottom: 1.25rem;
  }

  .start_container {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		 flex-wrap: wrap;
	-webkit-box-pack: justify;
		 -ms-flex-pack: justify;
			  justify-content: space-between;
			  gap: 42px;

 }
 @media (min-width: 991.98px) {
	.start_container {
		
		flex: 0 0 33.33333333%;
		 max-width: 33.33333333%;
		
	 }
 }

	.start_item {
		display: grid;
	  -ms-grid-rows: auto auto;
	  -ms-grid-columns: auto 1fr;
			grid-template: auto auto/auto 1fr;
			gap: 26px;
			max-width: none;
	}
 
 .landing-page .start_icon {
	max-height: 80px;
	display: flex;
align-items: center;
justify-content: center;
	
 }
 .landing-page .start_title {
	color: #FFF;
			font-size: 32px;
		font-weight: 700;
	line-height: 110%;
	display: flex;
align-items: center;
justify-content: flex-start;
 }
 .landing-page .start_text {
	color: #FFF;
font-size: 14px;
font-weight: 500;
line-height: 130%; 
	grid-row: 2;
	grid-column: 1 / span 2; 
 }

 .landing-page .section.subpage-long{
	background: url(../../images/site/registration-background-blue.png);
	background-size: cover;
 }